[submodule "{{cookiecutter.project_slug}}/glowing-giggle"]
	path = {{cookiecutter.project_slug}}/glowing-giggle
	url = https://github.com/eduardo-paes-a3data/glowing-giggle.git
	branch = {{cookiecutter.submodule_branch}} 